html{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    text-align: center;
}
body{
    background-color: rgb(70, 70, 95);
}


#content-area{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#Tapecover{
    position: absolute;
    background-color: black;
    display: block;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    opacity: 0.5;
}
#Droptarget{
    position: absolute;
    background-color: grey;
    display: none;
    top: 35%;
    right: 2%;
    width: 25%;
    height: 30%;
    border: 1px solid black;
}


#Tapes{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-top: 5%;
    margin-left: 1%;
}
.Tapes{
    max-width: 90%;
    margin-bottom: 10%;
    margin-top: 1%;
}


#Recorder{
    max-width: 30%;
    margin-left: 20%;
}



#VolUp,#VolDown{
    opacity: 0;
}



#TopSpokes{
    transform-origin: 1101.9px 531.4px;
}
#BotSpokes{
    transform-origin: 1101.9px 684px;
}
.Spinner{
    animation: spin 8s infinite linear;
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.not-clickable{
    pointer-events: none;
}